manifest {
    name            = 'simple-nextflow-salmon'
    author          = 'Thokas99'
    description     = 'Small paired-end bulk RNA-seq quantification workflow using FastQC, MultiQC, Salmon full-decoy indexing, and tximport gene-level summarization.'
    version         = '0.2.0'
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    homePage        = 'https://github.com/Thokas99/simple-nextflow-salmon'
    nextflowVersion = '>=24.10.0'
}

params {
    pipeline_version = '0.2.0'

    samplesheet = null
    fastq_dir = null
    generated_samplesheet = null
    outdir = 'results'

    reference_dir = "${projectDir}/reference/GRCh38_GENCODE/raw"
    gencode_release = 50
    genome_patch = 14
    rebuild_reference = false

    lib_type = 'A'
    salmon_k = 31
    salmon_version = '1.10.3'
    salmon_index_options = '--gencode'

    validate_only = false
    help = false

    fastqc_cpus = 2
    reference_cpus = 4
    index_cpus = 8
    salmon_cpus = 4
    tximport_cpus = 2
    summary_cpus = 1
    multiqc_cpus = 1
    versions_cpus = 1

    fastqc_memory = '2 GB'
    reference_memory = '16 GB'
    index_memory = '32 GB'
    salmon_memory = '8 GB'
    tximport_memory = '16 GB'
    summary_memory = '4 GB'
    multiqc_memory = '4 GB'
    versions_memory = '2 GB'
}

process {
    errorStrategy = 'terminate'

    withName: FASTQC {
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName: MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.30--pyhdfd78af_0'
    }
    withName: BUILD_FULL_DECOY_REFERENCE {
        container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
    }
    withName: SALMON_INDEX {
        container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
    }
    withName: SALMON_QUANT {
        container = 'quay.io/biocontainers/salmon:1.10.3--h6dccd9a_2'
    }
    withName: TXIMPORT {
        container = 'quay.io/biocontainers/bioconductor-tximport:1.34.0--r44hdfd78af_0'
    }
    withName: ESTIMATED_COUNT_SUMMARY {
        container = 'quay.io/biocontainers/bioconductor-tximport:1.34.0--r44hdfd78af_0'
    }
    withName: SOFTWARE_VERSIONS {
        container = 'quay.io/biocontainers/bioconductor-tximport:1.34.0--r44hdfd78af_0'
    }
}

profiles {
    conda {
        conda.enabled = true
        conda.useMamba = true
        process.conda = "${projectDir}/envs/salmon-rnaseq.yml"
    }

    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

    test {
        params.samplesheet = "${projectDir}/tests/fixtures/samplesheet.csv"
        params.reference_dir = "${projectDir}/tests/fixtures/reference/raw"
        params.outdir = "${projectDir}/test_results"
        params.fastqc_cpus = 1
        params.reference_cpus = 1
        params.index_cpus = 1
        params.salmon_cpus = 1
        params.tximport_cpus = 1
        params.summary_cpus = 1
        params.multiqc_cpus = 1
        params.versions_cpus = 1
        params.fastqc_memory = '1 GB'
        params.reference_memory = '1 GB'
        params.index_memory = '1 GB'
        params.salmon_memory = '1 GB'
        params.tximport_memory = '1 GB'
        params.summary_memory = '1 GB'
        params.multiqc_memory = '1 GB'
        params.versions_memory = '1 GB'
    }
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.tsv"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/workflow_dag.html"
    overwrite = true
}
