manifest {
    name            = 'simple-nextflow-salmon'
    author          = 'Thokas99'
    description     = 'Paired-end RNA-seq quality control and Salmon quantification with tximport summaries.'
    version         = '0.2.0'
    mainScript      = 'main.nf'
    homePage        = 'https://github.com/Thokas99/simple-nextflow-salmon'
    nextflowVersion = '>=24.10.0'
}

params {
    samplesheet = null
    outdir = 'results'
    reference_dir = 'reference/GRCh38_GENCODE/raw'
    gencode_release = 50
    genome_patch = 14
    salmon_k = 31
    salmon_version = '1.10.3'
    lib_type = 'A'
    validate_only = false

    fastqc_cpus = 2
    reference_cpus = 2
    index_cpus = 8
    salmon_cpus = 4
    tximport_cpus = 2
    summary_cpus = 1
    multiqc_cpus = 1

    fastqc_memory = '2 GB'
    reference_memory = '8 GB'
    index_memory = '32 GB'
    salmon_memory = '8 GB'
    tximport_memory = '16 GB'
    summary_memory = '4 GB'
    multiqc_memory = '4 GB'
}

process.errorStrategy = 'terminate'

profiles {
    conda {
        conda.enabled = true
        conda.useMicromamba = true
        process.conda = "${projectDir}/envs/salmon-rnaseq.yml"
    }
}
