manifest {
    name = 'simple-nextflow-salmon'
    author = 'Thokas99'
    description = 'Small DSL2 paired-end RNA-seq Salmon quantification workflow with GENCODE full-decoy reference handling.'
    mainScript = 'main.nf'
    version = '0.1.0'
}

params {
    samplesheet = null
    outdir = 'results'
    reference_dir = 'reference/GRCh38_GENCODE/raw'
    lib_type = 'A'
    salmon_k = 31
    rebuild_reference = false
    fastqc_cpus = 2
    fastqc_memory = '2 GB'
    multiqc_cpus = 1
    multiqc_memory = '2 GB'
    reference_cpus = 4
    reference_memory = '16 GB'
    index_cpus = 8
    index_memory = '32 GB'
    salmon_cpus = 4
    salmon_memory = '8 GB'
    tximport_cpus = 2
    tximport_memory = '16 GB'
    summary_cpus = 1
    summary_memory = '4 GB'
}

process {
    errorStrategy = 'terminate'
}

profiles {
    conda {
        conda.enabled = true
        conda.useMamba = true
    }
}
